{
  "arrowParens": "always",
  "bracketSpacing": true,
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "css",
  "insertPragma": false,
  "singleAttributePerLine": false,
  "bracketSameLine": false,
  "jsxBracketSameLine": false,
  "jsxSingleQuote": false,
  "proseWrap": "preserve",
  "quoteProps": "as-needed",
  "requirePragma": false,
  "trailingComma": "es5",
  "useTabs": false,
  "vueIndentScriptAndStyle": false,
  "parser": "typescript",
  "semi": true,
  "singleQuote": false,
  "printWidth": 100,
  "chainWebpack": 2,
  "maxLines": 500,
  "maxLinesPerFunction": 150,
  "tabWidth": 2,
  "noConsole": true,
  "noDebugger": true,
  "noUnusedVars": true,
  "noVar": true
}